.friend_container{
    width:100%;
    background:#f5f5f5;
}
.content{
    width:982px;
    height:700px;
    margin:0 auto;
    border:1px solid #d3dede;
    background:#fff;
}

.login_con{
    width:902px;
    height:484px;
    margin:0 39px;
    padding-top:70px;

    background:url(../images/notlogin.jpg) no-repeat;
    background-position:0px 60px;

}


.login_con>div{
    width:367px;
    height:44.8px;

    margin:178px 0px 0px 535px;
}

.login_con>div>p{
    font-size:14px;
    color:#666;
    line-height:23px;
}


.login_con>.login_btn{
    width:157px;
    height:48px;
    display:block;
    margin:27px 0px 0px 534px;
    /*   background: url(../images/mymusic.png) no-repeat;
       background-position: -483px -202px;*/

}

.login_con>.login_btn:hover{
    background: url(../images/notlogin.jpg) no-repeat;
    background-position: 1px -430px;

}