.h_container > nav {
    width: 100%;
    background-color: #333333;

}

.nav_content {
    height: 70px;
    width: 1100px;
    /*background-color: #000;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h_container > nav, .mynav-tabs > li, .mynav-tabs > li > a {
    height: 70px;
    background: #242424;

}

.nav_brand {
    width: 177px;
    height: 69px;
    display: inline-block;
    background-image: url(../images/topbar.png);
    background-repeat: no-repeat;

}

.mynav-tabs {

    /*width:508px;*/
    /*height:40px;*/
    border-bottom: 0;
}

.mynav-tabs > li {
    float: left;
    margin-bottom: 0;
}

.mynav-tabs > li > a {
    display: inline-block;
    padding: 0 19px;
    line-height: 70px;
}

.mynav-tabs > li > a {
    border: 0;
    border-radius: 0;
    margin-right: 0;
    color: #ccc;
    font-size: 14px;
    line-height: 74px;
}

.mynav-tabs > li.active > a, .mynav-tabs > li.active > a:focus, .mynav-tabs > li.active > a:hover, .mynav-tabs > li > a:hover {
    background-color: #000;
    border: 0;
    color: #fff;

}

/*小圆点*/
.nav_red_point {
    display: inline-block;
    border: 3.8px solid #C20C0C;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    top: -14%;
    left: 3%;
}

/*hot*/
.nav_red_hot_img {
    display: inline-block;
    width: 28px;
    height: 19px;
    position: relative;
    top: -4px;
    left: -14px;
    z-index: 2;
    background-image: url(../images/topbar.png);
    background-repeat: no-repeat;
    background-position: 90% -2%;
}

/*搜索框外围*/
.input_search_group {

    width: 158px;
    height: 32px;
    border-radius: 17px;
    background-color: #fff;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;

}

.input_search_group_img {
    display: inline-block;
    width: 20.5px;
    height: 32px;
    background-image: url(../images/topbar.png);
    background-repeat: no-repeat;
    background-position: 4% 53%;
}

.input_search_group > input {

    width: 111px;
    height: 16px;
    border: 0;
    box-sizing: border-box;
    font-size: 12px;

}

.nav_btn {
    width: 90px;
    height: 32px;
    margin-left: 12px;
    padding-left: 16px;
    border: 1px solid #ccc;
    border-radius: 17px;
    font-size: 12px;
    color: #ccc;
    line-height: 32px;
}

.nav_person {
    margin-left: 20px;
    position: relative;
}

.nav_person_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*没登录前,显示登录链接*/
.nav_person_login {
    display: inline-block;
    width: 28px;
    height: 15.45px;
    font-size: 12px;
    color: #787878;
    /*text-decoration: underline;*/

}

/*鼠标移入时*/
.nav_person_login:hover {

}

.person_item_link {

}

/*登录成功以后显示头像*/
.nav_person_img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/18686200114669622.jpg);
    background-repeat: no-repeat;
    display: none;

}

.nav_person_sign {
    display: inline-block;
    width: 21.99px;
    height: 30px;
    z-index: 2;
    /*background-color:#fff;*/
    background-image: url(../images/topbar.png);
    background-position: 102% 25%;
    background-repeat: no-repeat;
    /*position: relative;*/
    /*top: 0%;*/
    /*left: 0%;*/
}

/*
.nav_person_area {
    position: absolute;
    top: 56px;
    left: 965px;
    display: block;
}

*/
/*个人登录选项列表*/
.nav_person_list {
    display: none;
    width: 158px;
    height: 200px;
    position: absolute;
    top: 39px;
    left: -63px;
    border: 1px solid #202020;
    background: #2b2b2b;
}

.nav_person_list > li:first-child {
    position: relative;
}

/*向上箭头*/
.nav_person_up {
    width: 20px;
    height: 10px;
    background-image: url(../images/toplist.png);
    background-repeat: no-repeat;
    background-position: 54% -1%;
    position: absolute;
    top: -9px;
    left: 67px;

    z-index: 2;

}

.nav_person_item {
    width: 100%;
    border-bottom: 1px solid rgb(35, 35, 35);

}

.nav_person_item:hover {
    background: #3a3a3a;

}

.person_item_link {
    display: inline-block;
    height: 38px;
    padding-left: 24px;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ccc;
    font-size: 12px;
}

.person_item_link > span {
    display: inline-block;
}

/*鼠标移入时,字体变亮*/
.person_item_link:hover {
    color: #fff;
}

/*多种登录方式的图片*/
.person_item_img {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    margin-left: -7px;
    background-image: url(../images/toplist.png);

}

/*给不同的登陆选项插背景图*/

.nav_person_list > li:nth-child(1) > a > div {
    background-position: 0% 0%;
    background-repeat: no-repeat;
}

.nav_person_list > li:nth-child(2) > a > div {
    background-position: 58% 9%;
    background-repeat: no-repeat;
}

.nav_person_list > li:nth-child(3) > a > div {
    background-position: 56% 18%;
    background-repeat: no-repeat;
}

.nav_person_list > li:nth-child(4) > a > div {
    background-position: -2% 9%;
    background-repeat: no-repeat;
}

.nav_person_list > li:nth-child(5) > a > div {
    background-position: -3% 18%;
    background-repeat: no-repeat;
}

/*二级菜单*/
.snd_nav {
    width: 100%;

    background: #C20C0C;
}

.sndnav_content {
    height: 34px;
    width: 1100px;
    margin: 0 auto;
}

/*向上箭头*/
.snd_nav_up {
    width: 12px;
    height: 7px;

    background-image: url(../images/topbar.png);
    background-repeat: no-repeat;
    background-position: 99% 0.5px;
    position: relative;
    top: -21px;
    left: 47px;
    z-index: 2;
    display: inline-block;

}

.sndnav_list {
    width: 744px;
    height: 34px;
    padding-left: 180px;
    /*background: #fff;*/

}

.sndnav_item {
    float: left;
    text-align: center;
}

.sndnav_link {
    display: inline-block;
    height: 34px;
    line-height: 34px;

}

.sndnav_link_spe {
    position: relative;
    line-height: 34px;
}

.sndnav_link_spe > span {
    position: absolute;
    top: -4px;
    left: 37px;
    font-size:8px;
}

.sndnav_link > em {
    padding: 0 13px;
    margin: 0 17px;
    display: inline-block;
    height: 20px;
    line-height: 21px;
    font-style: normal;
    color: #fff;
    font-size: 12px;
}

.sndnav_item:hover > a > em, .sndnav_item.active>a>em{
    border-radius: 16px;
    background: #9B0909;
}