nav {
    height: 104px;
}

nav > iframe {
    width: 100%;
    height: 104px;
}

footer > iframe {
    width: 100%;
    height: 91px;
}

.i_container {
    background-color: #f5f5f5;
}

.carmap_area {
    height: 336px;
}

.content_area {
    width: 982px;
    height: 1425px;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-width: 0 1px;
    background-image: url(../images/wrap1.png);
    /*background-repeat: repeat-y;*/
    /*background-size: 100% 100%;*/
}

.content {
    width: 980px;
    height: 1424.9px;
    margin: 0 auto;

    /*box-sizing: content-box;*/
}

.content > div {
    float: left;
}

/**防止父容器坍塌*/
.content:after {
    content: '';
    display: block;
    clear: both;
}

.song_con {
    width: 729.01px;
    height: 1424.9px;
    padding: 20px 20px 40px;

    /*box-sizing: content-box;*/

}

.songs_hot {
    width: 689px;
    height: 523px;

}

.songs_new {
    width: 689px;
    height: 243px;
    /*border: 1px solid #f00;*/
    margin-bottom: 37px;
}

/*防止外边距溢出*/
.songs_new:after {
    content: "";
    display: table;

}

.songs_toplist {
    width: 689px;
    height: 527px;
    /*border: 1px solid #f00;*/
}

.hot_title {
    width: 100%;
    height: 35px;
    border-bottom: 2px solid #C10D0C;
    padding-right: 10px;

}

.hot_title_head_img {
    display: inline-block;
    width: 34px;
    height: 34px;
    float: left;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-position: -5% 56%;
}

.hot_title_head {
    float: left;
    width: 80px;
    height: 28px;
    margin: 3px 0;
    font-size: 20px;
    color: #333;
    line-height: 28px;
}

.hot_songs_type {
    float: left;
    margin-left: 20px;
    margin-top: 7px;

}

.hot_songs_type > li {
    float: left;
}

.hot_songs_type > li + li:before {
    content: '|';
    display: inline-block;
    margin: 0 7px;
    color: #666;
}

.hot_type_link {
    font-size: 12px;
    line-height: 20px;
    color: #666;
}

.hot_title > span {
    float: right;
    margin: 7px 0px;

}

.hot_songs_more {
    width: 24px;
    height: 13.33px;
    color: #666;
    font-size: 12px;

}

.hot_more_img {
    display: inline-block;
    height: 12px;
    width: 12px;

}

.hot_title:after {
    content: "";
    display: block;
    clear: both;
}

.singers {
    width: 250px;
    height: 919.77px;

}

.hot_song_list {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hr_radio_img_area {
    position: relative;

}

.hr_img {
    width: 140px;
    height: 140px;
}

.hr_img_link {
    display: inline-block;
    width: 140px;
    height: 140px;
    background: url(../images/coverall.png) no-repeat;
    background-position: 0px 0px;
}

/*底部的图片*/
.hr_img_bott {
    width: 140px;
    height: 27px;
    position: absolute;
    top: 113px;
    background: url(../images/coverall.png) no-repeat;
    background-position: -2px -537px;

}

.hr_img_bott > i {
    display: inline-block;
    width: 14px;
    height: 11px;
    margin: 8px 5px 8px 10px;
    background: url(../images/iconall.png) no-repeat;
    background-position: 0px -24px;
}

.hr_img_bott > span {
    display: inline-block;

    height: 17px;
    color: #ccc;
    position: absolute;
    top: 5px;
    font-size: 12px;
}

.hr_bott_link {
    display: inline-block;
    width: 16px;
    height: 17px;
    position: absolute;
    top: 5px;
    right: 10px;

    background: url(../images/iconall.png) no-repeat;
    background-position: 0px 0px;
}

.hr_bott_link_active:hover {
    background: url(../images/iconall.png) no-repeat;
    background-position: 0px -60px;
}

.hot_radio_desc {
    width: 140px;
}

.hr_desc_link {

    color: #000;
    font-size: 14px;
}

.hr_desc_link:hover {
    text-decoration: underline;
}

/*新碟上架*/
.songs_new_list {
    width: 100%;
    height: 186px;
    background: #f5f5f5;
    /*border: 1px solid #00f;*/
    box-sizing: content-box;
    margin: 20px 0 37px 0;

}

.toplist_con {
    width: 100%;
    height: 472px;
    margin-top: 20px;
    background: url(../images/index_bill.png) no-repeat;
    display: flex;
    flex-wrap: nowrap;

}

.toplist_con > div:nth-child(1), .toplist_con > div:nth-child(2) {
    width: 230px;
    height: 472px;

}

.toplist_con > div:nth-child(3) {
    width: 228px;
    height: 472px;
    background: #00b3ee;
}


/*榜单头部*/
.toplist_top {
    width: 100%;
    height: 120px;
    padding: 20px 0px 0px 19px;

}

/*防止父容器坍塌*/
.toplist_top:after {
    content: "";
    display: block;
    clear: both;
}

.top_increase_left {
    float: left;
    width: 80px;
    height: 80px;
    background: url(../images/18696095720518497.jpg) no-repeat;
    background-size: 100% 100%;
    /*background-position: 0% 0%;*/

}

.top_increase_right {
    float: left;
    width: 116px;
    height: 50.667px;
    margin: 6px 0px 0px 10px;
}


.top_increase_right a h1 {
    display: inline-block;
    height: 18.6px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.top_increase_right > a > h1:hover {
    text-decoration: underline;
}

.top_increase_right > div {
    margin-top: 6px;
}

.top_increase_right_btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background-image: url(../images/index.png);
    background-repeat: no-repeat;
}


.top_increase_right_btn.btn1 {

    background-position: -267px -205px;
}

.top_increase_right_btn.btn1:hover {
    background-position: -267px -235px;
}

.top_increase_right_btn.btn2 {
    background-position: -299px -205px;
}

.top_increase_right_btn.btn2:hover {
    background-position: -299px -235px;
}

.top_songs_list {
    list-style: none;
}

.top_songs_list > li {
    width: 100%;
    height: 32px;
}

.top_songs_list > .top_item > span {
    display: inline-block;
    width: 35px;
    height: 32px;
    margin-left: 15px;
    text-align: center;
    font-size: 16px;
    line-height: 32px;

}

.top_3_index {
    color: #c10d0c;
}


.top_item > span + a {
    display: inline-block;
    /*width: 170px;*/
    height: 32px;
    color: #000;
    font-size: 12px;
    line-height: 32px;
    width:98px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}

.top_item > span + a:hover{
    width:98px;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;

}
.top_item_action {
    display: inline-block;
    background: blue;
    width: 82px;
    height: 19px;
    margin-top: 6px;

}

.top_item_action_btn {
    width: 17px;
    height: 17px;
    margin-right: 10px;
}