.top_container {
    background: #f5f5f5;
}

.content {
    width: 982px;
    min-height: 5978.3px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    border-width: 0px 1px;
    background: url(../images/wrap3.png) repeat-y center 0;
}

.left_side {
    width: 240px;
    /*height:1728px;*/
    /*background: blue;*/
    margin-top: 40px;
}

.list_title {
    width: 240px;
    height: 28px;
    padding: 0 10px 12px 15px;
    font-size: 14px;

}

.left_side ul > li {
    width: 100%;
    height: 62px;
    padding: 10px 0px 10px 20px;
}

.left_side ul > li > a {
    display: block;
    width: 220px;
    height: 40px;
    /*border:1px solid red;*/
}

.left_side ul > li > a > .mask {
    display: inline-block;
    width: 40px;
    height: 40px;
    float: left;

}

.link_title {
    height: 40px;
    width: 170px;
    float: left;
    margin-left: 10px;

}

.link_title > p:first-child {
    width: 100%;
    height: 14px;
    color: #000;
    overflow: hidden;
    font-size: 12px;
    line-height: 14px;
    margin: 2px 0px 8px;
}

.link_title > p:last-child {
    width: 100%;
    height: 16px;
    color: #999;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    margin: 2px 0px 8px;
}

.left_side ul > li.active {
    background: #e6e6e6;
}

.left_side ul > li:hover {
    background: #f4f2f2;
}

/*选中并鼠标悬停，背景色跟选中active的背景一样*/
.left_side ul > li:hover.active {
    background: #e6e6e6;
}

.left_side > div + div {
    margin-top: 20px;
}

.right_side {
    width: 740px;
    /*min-height:5928.3px;*/

}

.right_side > .r_wrap {
    width: 100%;
    height: 238px;
    padding: 40px;
    border: 1px solid green;
}

/*设置图片容器的大小*/
.right_side > .r_wrap > div > .img_box {
    width: 158px;
    height: 158px;
    padding: 3px;
    border: 1px solid #ccc;
    float: left;

}

/*设置图片的大小*/
.right_side > .r_wrap > div > .img_box > img {
    width: 150px;
    height: 150px;
}

.right_side > .r_wrap > div {
    /*border:1px solid red;*/
    width: 660px;
    height: 154.4px;

}

.r_wrap > div > .r_box {
    width: 473px;
    height: 150px;

    float: left;
    margin-left: 29px;
}

.r_box > .r_box_title {
    height: 24px;
    width: 100%;
    margin: 16px 0 4px 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #333;
}

.r_box > p {
    height: 34.4px;
    margin-bottom: 20px;
    line-height: 34.4px;
}

.r_box > p > i {
    display: inline-block;
    float: left;
    width: 13px;
    height: 13px;
    margin: 11px 0px 0px 3px;
    background: url(../images/icon.png) no-repeat;
    background-position: -18px -682px;
}

.r_box > p > span {
    display: inline-block;
    height: 13.6px;
    font-size: 12px;
    /*float: left;*/
}

.r_box > p > span:nth-child(2) {

    margin-left: 5px;
    color: #666;
}

.r_box > p > span:nth-child(3) {

    margin-left: 5px;
    color: #999;
}

.r_box > .btns {
    width: 100%;
    height: 31px;
    background: yellow;
}

.song_section {
    width: 100%;
    min-height: 500px;
    padding: 0px 30px 40px 40px;

}

.songs_list_title {
    width: 670px;
    height: 35px;
    border-bottom: 2px solid #c20c0c;

}

.songs_list {
    width: 100%;
    height: 50px;
    border: 1px solid blue;
}

.songs_list_title > span:nth-child(1) {
    font-size: 20px;
    color: #333;
    float: left;
}

.songs_list_title > span:nth-child(2) {
    font-size: 12px;
    color: #666;
    float: left;
    margin: 9px 0px 0px 20px;
}

.songs_list_title > div {
    float: right;
    margin-top: 9px;
}

.songs_list_title > div > span {
    font-size: 12px;
    color: #666;

}

.songs_list_title > div > span > strong {
    color: #c20c0c;
}